<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% load static %}
    <link rel="stylesheet" href="{% static 'styles/registration.css' %}">

    <title>Registration Page</title>

</head>

<body>

    <h1>Welcome to the registration page</h1>
    <form action="" method="POST">
        <table align="center">
            <tr>
                <td>
                    First Name:
                </td>
                <td>
                    <input type="text" placeholder="First Name" name="fname">
                </td>
            </tr>
            <tr>
                <td>
                    Last Name:
                </td>
                <td>
                    <input type="text" placeholder="Last Name" name="lname">
                </td>
            </tr>

        </table>
        <div align="center">
            <input type="submit" value="Submit">
        </div>
    </form>

</body>

</html>